html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;  
}
.title {
  text-align: center;

}
.game {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 617px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.ad {
  right: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 23%;
  height: 617px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.gamebutton {
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  border: none;
  height: 100px;
  width: 100px;
  cursor: pointer;
}
.gamebutton:hover {
  color: white;
}
.topnav {
  background-color: #333;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

#error {
  display: none;
}

#draggable {
  display: none;
  background-color: black;
  color: white;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}

.shown {
  display: inline-block !important;
}